body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.imagemInciao{
    width:100%;
    border-radius: 5px;
}

.alerta{
    padding-top:5px;
    padding-bottom:5px;
    color: red;
    font-weight:bold;
}

.imagemForm{
    margin-bottom:20px;
}

.destino-box {
    justify-items:center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.destino-box {
    width: 250px;
    border-radius: 5px;
    position: relative;
}

.destinoNome{
    font-size: 18px;
    font-weigt:bold;
}

.destinoCidadePais{
    font-size: 10px;
}